<div id="quinoa" class="mt-24">
  <h2 class="mx-auto max-w-lg text-balance text-center text-3xl font-i-k2d font-bold tracking-tight text-gray-950 pt-7 sm:text-5xl lg:mt-16">Nuestros Productos</h2>

  <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 -mt-20 px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
    <div class="bg-white py-3 px-4 rounded-lg border border-gray-300 shadow-sm shadow-gray-300 font-i-k2d sm:py-4 sm:px-6 md:py-6 md:px-8 lg:py-3 lg:px-4">
      <h3 class="text-2xl font-semibold tracking-tight text-gray-900 sm:text-4xl">QUINUA IRIDE'S</h3>
      <p class="mt-4 text-gray-800">La quinua IRIDE'S es cultivada en la zona andina de Perú, cosechada y tratada cuidadosamente para mantener intactas sus características y propiedades nutritivas.</p>

      <h3 class="mt-8 -mb-16 font-semibold text-xl text-black">Características:</h3>
      <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
        <div class="border-t border-gray-400 py-2">
          <dd class="mt-2 text-md text-gray-800">Contiene todos los aminoácidos esenciales que el cuerpo necesita para mantenerse saludable.</dd>
        </div>
        <div class="border-t border-gray-400 py-2">
          <dd class="mt-2 text-md text-gray-800">No contiene gluten.</dd>
        </div>
        <div class="border-t border-gray-400 py-2">
          <dd class="mt-2 text-md text-gray-800">Se puede servir como acompañamiento en la elaboración de platos dulces o salados.</dd>
        </div>
        <div class="border-t border-gray-400 py-2">
          <dd class="mt-2 text-md text-gray-800">No necesita ser refrigerada.</dd>
        </div>
        <div class="border-t border-gray-400 py-2">
          <dd class="mt-2 text-md text-gray-800">La quinua IRIDE'S tiene un tiempo de conserva de 2 años</dd>
        </div>
        <div class="border-t border-gray-400 py-2">
          <dd class="mt-2 text-md text-gray-800">No contiene preservantes.</dd>
        </div>
      </dl>
    </div>



    <div class="grid grid-cols-2 grid-rows-2 gap-2  sm:gap-4 lg:gap-6 ">
      <div class="rounded-lg w-full h-auto bg-i-yellow-2 border border-i-yellow shadow-i-yellow shadow-sm">
        <img src="/assets/images/i-white-pack.webp" alt=""
        class="transition-transform duration-300 ease-in-out hover:scale-110">
      </div>
      <div class="rounded-lg w-full h-auto bg-i-yellow-2 border border-i-yellow shadow-i-yellow shadow-sm">
        <img src="/assets/images/i-red-pack.webp" alt=""
      class="transition-transform duration-300 ease-in-out hover:scale-110">
      </div>
      <div class="rounded-lg w-full h-auto bg-i-yellow-2 border border-i-yellow shadow-i-yellow shadow-sm">
        <img src="/assets/images/i-white.webp" alt=""
      class="transition-transform duration-300 ease-in-out hover:scale-110">
      </div>
      <div class="rounded-lg w-full h-auto bg-i-yellow-2 border border-i-yellow shadow-i-yellow shadow-sm">
        <img src="/assets/images/i-red.webp" alt=""
      class="transition-transform duration-300 ease-in-out hover:scale-110">
      </div>




    </div>
  </div>
</div>


