<shared-navbar class="absolute inset-x-0 top-32  z-30 "></shared-navbar>

<!-- SwiperJS Slider -->
<div id="controls-carousel" class="relative w-full z-10" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-screen overflow-hidden">
    <!-- Swiper Container -->
    <div class="swiper-container h-full">
      <div class="swiper-wrapper">
        <!-- Item 1 -->
        <div class="swiper-slide">
          <img
            src="assets/images/quinua-camp.webp"
            class="block w-full h-full object-cover object-center"
            alt="Quinua field">
        </div>
        <!-- Item 2 -->
        <div class="swiper-slide">
          <img
            src="assets/images/coffee-field.webp"
            class="block w-full h-full object-cover object-center"
            alt="Coffee field">
        </div>
      </div>
    </div>
  </div>
</div>

