<div id="coffee" class="-mt-10 py-16">
  <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">

    <!-- Contenedor para la imagen -->
    <div class="grid grid-cols-2 grid-rows-1 order-2 -ml-9 gap-4 sm:-ml-5 sm:gap-2 md:ml-20 lg:order-1 lg:ml-0 lg:gap-8">
      <!-- Mover la card hacia la derecha -->
      <div class="ml-28 flex justify-center items-center rounded-lg w-full h-auto bg-i-yellow-2 border border-i-yellow shadow-i-yellow shadow-sm">
        <img src="/assets/images/coffee.webp" alt="" class="transition-transform duration-300 ease-in-out hover:scale-110">
      </div>
    </div>

    <!-- Contenedor de texto -->
    <div class="bg-white py-3 px-4 order-1 rounded-lg border border-gray-300 shadow-sm shadow-gray-300 font-i-k2d">

      <h3 class="text-2xl font-semibold tracking-tight text-gray-900 sm:text-4xl">CAFÉ IRIDE'S</h3>
      <p class="mt-4 text-gray-800">El café IRIDE'S, cultivado en Oxapampa (Fundo Crespo), Perú, destaca por su aroma, sabor, cuerpo, acidez, dulzura, intensidad y uniformidad, brindando una experiencia única para los amantes del café.</p>

      <h3 class="mt-8 -mb-16 font-semibold text-xl text-black">Características:</h3>
      <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
        <div class="border-t border-gray-400 py-3">
          <dd class="mt-2 text-md text-gray-800">Contiene complejo B, vitamina B2, B5, potasio y magnesio, que son esenciales para la producción de energía en el cuerpo.</dd>
        </div>
        <div class="border-t border-gray-400 py-3">
          <dd class="mt-2 text-md text-gray-800">Es un estimulante del sistema nervioso central que puede ayudar a aumentar la atención.</dd>
        </div>
      </dl>
    </div>
    <!-- Contiene complejo B, que es esencial para la producción de energía en el cuerpo. -->
  </div>
</div>
